<% include('../layouts/header')%>
<h1>Password reset</h1>

<%
 if(typeof message !== 'undefined') {
    %>
     <h3><%=message%></h3>
    <%
 }
 %>

<form action="/admin/forget-password" method="post">
    <input type="password" name="password" placeholder="Enter password" id="">
    <input type="hidden" name="admin_id" value="<%=admin_id%>">
    <br><br>
    <input type="submit" value="reset password">
</form>
<% include('../layouts/footer')%>
