<footer>
    <div class="container">
      <div class="section">
          <h2>OUR LINKS</h2>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">RakthaDhaara</a></li>
              <li><a href="/privacypolicy">Privacy Policy</a></li>
              <li><a href="/privacypolicy">Linking Policy</a></li>
              <li><a href="/disclaimer">Disclaimer</a></li>
          </ul>
      </div>
      <div class="section">
          <h2>USEFUL LINKS</h2>
          <ul>
              <li><a href="/eligibility.html#three">How Blood Donation is Useful?</a></li>
              <li><a href="/eligibility.html#two">Why Blood Donation</a></li>
          </ul>
      </div>
      <div class="section">
          <h2>About Our Website</h2>
          <p>Blood donation and transfusion service is an indispensable part of contemporary medicine and health care. Blood management has been recognized as a challenging task because of the life-threatening nature of blood products.</p>
      </div>
      <div class="section" id="icons">
          <div class="icons-container">
              <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
              <a href="www.linkedin.com"><i class="fab fa-linkedin"></i></a>
              <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
              <a href="www.facebook.com"><i class="fab fa-facebook"></i></a>
          </div>
          <img src="/images/logo.png" alt="Description of the image">
      </div>
  </div>
  <div class="scrolling-headlines">
      <div class="headline">Disclamier :Please be informed that any changes you make and data you enter on this platform are stored securely in our database</div>
    </div>
  <a href="/faq">FAQ</a>
  <a href="/contactus">Contact Us</a>
  <a href="/terms">Terms and Conditions</a>
  <a href="/privacypolicy">Privacy Policy</a>
  <a href="/disclaimer">Disclaimer</a>
  <a href="/aboutus">&copy; 2024 | Blood Bank</a>
</footer>
</body>
</body>
</html>