<div class="heading"></div>
<div class="nav">
    <div class="itemsr" id="item0">
        <a href="/">
            <img src="/images/logo.png" alt="Clickable Image" width="100%">
        </a>
    </div>
    <div class="items" id="item1">
        <p><h3>&nbspDonate Blood</h3></p>
        <div class="hover-text" style="padding-top: 40px;" id="text1">
            <a href="/donor/DonorProfile">Manage my Profile</a>
            <br>
            <br>
            <a href="/donor/Appointment">Schedule my Appointment</a>
            <br>
            <br>
        </div>
    </div>
    <div class="items" id="item2">
        <p><h3>Donor Registration</h3></p>
        <div class="hover-text" id="text2">
            <a href="/donor/DonorRegistration">Donor Registration</a>
            <br>
            <br>
            <a href="/donor/DonorLogin">Donor Login</a>
            <br>
            <br>
        </div>
    </div>
    <div class="items" id="item3">
        <p><h3>How to Donate Blood</h3></p>
        <div class="hover-text" id="text3">
            <a href="/eligibility.html#one">Eligibility Requirements</a>
            <br>
            <br>
            <a href="/eligibility.html#two">Learn About Blood</a>
            <br>
            <br>
            <a href="/eligibility.html#three">How Blood Donations Help</a>
        </div>
    </div>
    <div class="items" id="item4">
        <p><h3>Employee</h3></p>
        <div class="hover-text" id="text4">
            <a href="/employeelogin">Employee Login</a>
            <br>
            <br>
            <a href="/admin">Admin Login</a>
            <br>
            <br>
            <a href="/medicalprofessional">Medical professional Login</a>
            <br>
            <br>
            <a href="/support-team">Support Team Login</a>
            <br>
            <br>
        </div>
    </div>
    <div class="items" id="item5"><a href="/faq"><h3>FAQ'S</h3></a></div>
</div>