<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/bloodbank.css">
<body>
<%- include('../layouts/header.ejs') %>




<form action="/employee/login" method="POST">
  <div id="form-container">
    <h1>Employee Login</h1>
    <input type="email" name="email" placeholder="Enter email">
    <br>
    <br>
    <input type="password" name="password" id="" placeholder="Enter password">
    <br>
    <br>
    <input type="submit">
    <h3><a href="/employee/forget">Forget password</a></h3>
<h3><a href="/employee/verification">Verification</a></h3>
<br>
<%
  if(typeof message != 'undefined'){
    %>
     <h4><%=message%></h4>
    <%
  } 
 %>
</div>

</form>
<%- include('../layouts/footer.ejs') %>