<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="../styles/privacystyle.css">
</head>
<body>
  <div class="container">
    <header >
      <h1>About Us</h1>
    </header>
    <main >
      <div class="content">
        <section>
          <h2>Our Mission</h2>
          <p>At the Blood Bank, our mission is to provide a safe and reliable blood supply to hospitals and patients in need. We are committed to promoting community health and saving lives through blood donation.</p>
        </section>
        <section>
          <h2>Our History</h2>
          <p>The Blood Bank was founded in [year] with the aim of addressing the critical need for blood donations in our community. Over the years, we have grown to become a trusted resource for blood transfusions and medical support.</p>
        </section>
        <section>
          <h2>Our Team</h2>
          <p>Our team consists of dedicated professionals, including medical staff, volunteers, and administrative personnel, who work tirelessly to collect, process, and distribute blood products. Together, we are committed to making a difference in the lives of patients and their families.</p>
        </section>
        <section>
          <h2>Get Involved</h2>
          <p>We welcome individuals and organizations to join us in our mission. Whether you're interested in donating blood, volunteering your time, or supporting our cause financially, there are many ways to get involved and make a positive impact on our community.</p>
        </section>
      </div>
    </main>
    <footer >
      <p>&copy; 2024 Blood Bank. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
