<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" href="../styles/privacystyle.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Contact Us</h1>
    </header>
    <main>
      <div class="content">
        <section>
          <h2>Reach Out to Us</h2>
          <p>If you have any questions, concerns, or inquiries about our services or anything related to blood donation, please feel free to contact us using the information below:</p>
          <ul>
            <li>Email: rakthaDhaara@email.com</li>
            <li>Phone: +91 123-4567-890</li>
            <li>Address: 123 Sri City,Andhra Pradesh, India</li>
          </ul>
        </section>
        <section>
          <h2>Send Us a Message</h2>
          <form action="#" method="post" id="form">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="4" required></textarea><br>
            <input type="submit" value="Submit">
          </form>
        </section>
      </div>
    </main>
    <footer>
      <p>&copy; 2024 Blood Bank. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
