<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to donate blood</title>
    <link rel="stylesheet" href="/styles/elgibility.css">
    <link rel="stylesheet" href="/styles/bloodbank.css">
    
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <div class="bg-container">
        <section id="one">
            <div class="page-1">

                <div class="requirements">
                    <h1 id="general-head">General criteria</h1>
                    <li>Donation Frequency: Atleast 12 weeks. </li>
                    <li>Be between the ages of 18 and 65.</li>
                    <li>Have a hemoglobin level of at least 12.5 g/dL.</li>
                    <li>Have a pulse between 50 and 100 beats per minute.</li>
                    <li>Have a blood pressure of 100-180 mm Hg systolic and 50-100 mm Hg diastolic.</li>
                    <li>Have a normal body temperature, with an oral temperature not exceeding 37.5 °C.</li>
                    <li>Not have tuberculosis, leprosy, hepatitis B or C, or HIV.</li>
                    <li>Not have any heart disease or ailment.</li>
                    <li>Not have asthma, epilepsy, thalassemia, sickle cell anemia, polycythemia vera, or similar
                        conditions.</li>
                    <h2 id="openPdf" style="text-align: center;"> <a href="">Click here </a></h2>
                    <h2>for complete eligibility criteria</h2>
                </div>
            </div>
        </section>



        <section id="two">
            <div class="page-2">
                <hr>
                <h1 class="page-2-h1"> Learn about blood</h1>

                <h4>Blood is a vital fluid that courses through the human body, carrying out a myriad of essential
                    functions necessary for life.
                    Composed of various cells, proteins, and nutrients suspended in a liquid called plasma, blood plays
                    a critical role in maintaining
                    the body's equilibrium and ensuring its proper functioning. One of its primary functions is
                    transportation, as it delivers oxygen
                    from the lungs to every cell in the body and carries carbon dioxide back to the lungs for
                    exhalation. Additionally, blood transports
                    nutrients absorbed from the digestive system to tissues, organs, and cells, providing them with the
                    energy and building blocks
                    necessary for growth, repair, and maintenance.</h4>


                <div class="container">
                    <div class="box">
                        <video autoplay loop muted>
                            <source src="../videos/About blood.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <h4>
                    Beyond its role in transportation, blood also serves crucial roles in defense and regulation. White
                    blood cells, a key component of blood, form the backbone of the immune system, defending the body
                    against harmful pathogens such as bacteria, viruses, and fungi. Blood also helps regulate body
                    temperature, pH levels, and fluid balance, ensuring optimal conditions for cellular function.
                    Moreover, blood clotting mechanisms prevent excessive bleeding and promote wound healing,
                    safeguarding the body against life-threatening hemorrhages. In essence, blood is the life force that
                    sustains human existence, underscoring its profound importance in maintaining health and vitality.
                </h4>
        </section>

        <section id="three">

            <div class="page-3 ">
                <hr>
                <h3>Benefits of blood donation</h3>
                <li> Save lives: In India, millions require blood transfusions every year due to accidents, surgeries,
                    childbirth complications, blood disorders like thalassemia, and more. A single donation can help up
                    to three people, making a massive impact.</li>
                <li>Strengthens Your Community: Blood banks in India often face shortages. By donating, you directly
                    contribute to the local supply, ensuring life-saving blood is available for those in your community.
                </li>
                <li>Quick Health Check: Before each donation, you receive a mini-health screening that checks
                    temperature, blood pressure, pulse, and hemoglobin. This can potentially identify underlying health
                    issues early on.</li>
                <li>Boosts Your Health: Studies suggest regular blood donation, while maintaining iron levels, may
                    reduce the risk of heart disease and hemochromatosis (iron overload). </li>
                <li>Feel-Good Factor: Donating blood is a selfless act that brings a sense of satisfaction and
                    accomplishment. Knowing you've potentially saved lives can be incredibly rewarding.</li>
                <li>Builds New Blood Cells: Your body is a remarkable machine! After a donation, it ramps up production
                    of new red blood cells, keeping your circulatory system healthy.</li>
                <li>Rare Blood Type Advantage: If you have a rare blood type, your donation becomes even more critical
                    in India, where specific blood types are constantly in high demand.</li>
                <li>Manages Iron Levels: For people with conditions like hemochromatosis, regular blood donation can
                    help regulate iron levels in the body, preventing complications.</li>
                <li>Convenient and Time-Efficient: The donation process itself is relatively quick, taking about an
                    hour. Many blood donation camps are organized throughout India for added convenience.</li>
                <li>Contributes to Medical Advancement: Blood donation programs in India sometimes involve research
                    initiatives. Your contribution could potentially aid in developing new treatments or diagnostics.
                </li>
            </div>
        </section>
    </div>
</div>

</div>
<%- include('./partials/footer.ejs') %>
<script src="/views/scripts/FAQ.js"></script>
</body>

</html>