<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to donate blood</title>
    <link rel="stylesheet" href="/styles/FAQ.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <%- include('./layouts/header.ejs') %>
    <section>
        <div class="container">
            <div class="accordion">                
                <div class="accordion-item" id="question1">
                    <a class="accordion-link" href="#question1">
                        <p>
                        1.What should I eat before blood-donation?
                        </p>
                        <i class="icon ion-md-add"></i>
                        <i class="icon-ion-md-remove"></i>
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        Anything that you normally eat at home. Eating a light snacks and having a soft drink before blood donation is sufficient.
                        </p>
                    </div>
                </div>

                <div class="accordion-item" id="question2">
                    <a class="accordion-link" href="#question2">
                        2.  How often can I donate Blood?   
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        Wait at least three months after donation.
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question3">
                    <a class="accordion-link" href="#question3">
                        3.Are there any side effects of Blood donations?
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>There are no side effects of blood donation. Our blood bank staff ensures that your blood donation is a good experience so as to make you a regular blood donor.</p>
                    </p>

                    </div>
                </div>

                <div class="accordion-item" id="question4">
                    <a class="accordion-link" href="#question4">
                        4.I am taking antibiotics. Can I donate blood?
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        It depends on why you are taking the antibiotics and it may also depend after doctor counselling.
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question5">
                    <a class="accordion-link" href="#question5">
                        5.I had alcohol before going to donate blood. Is it Okay?
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        No. We do not take blood from anyone under the influence of alcohol. This is because being intoxicated can affect your ability to understand and answer the donor questionnaire and declaration. 
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question6">
                    <a class="accordion-link" href="#question6">
                        6.How does age affects my ability to donate blood?
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        Minimum age for whole blood donation is 18 years in India. The maximum age for blood donation depends on the kind of donation.  
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question7">
                    <a class="accordion-link" href="#question7">
                        7.Who can donate blood? 
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        According to NCBI, donors should be between the ages of 18 and 65, weigh at least 45 kg, and not have donated blood within the previous 12 weeks. 
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question8">
                    <a class="accordion-link" href="#question8">
                        8.What is the procedure for donating blood?
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        The entire procedure of blood donation takes about 15-20 minutes, but the actual blood donation is only 5 minutes.
                    
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question9">
                    <a class="accordion-link" href="#question9">
                        9.How much blood is taken? 
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        For a whole blood donation, approximately 0.5 L of blood is collected. 
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question10">
                    <a class="accordion-link" href="#question10">
                        10.What types of tests are performed on donated blood? 
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        After blood is drawn, it is tested for ABO group (blood type) and Rh type (positive or negative), as well as for any unexpected red blood cell antibodies that may cause problems for the transfusion recipient. Blood is tested for: <br>

                        - Hepatitis B virus <br>
                        - Hepatitis C virus <br>
                        - HIV-1 and HIV-2 <br>
                        - HTLV-I and HTLV-II <br>
                        - Syphilis <br>
                        - West Nile virus <br>
                        - Trypanosoma cruzi, the infectious agent causing Chagas' disease <br>
                        - Babesia - in states where testing is required by FDA guidance
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question11">
                    <a class="accordion-link" href="#question11">
                        11.What is one unit of blood?
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        A unit of whole blood is about 517 milliliters and is roughly equivalent to one pint.
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question12">
                    <a class="accordion-link" href="#question12">
                        12.How much is the price of blood?
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        Packed Red Cells/Whole Blood  - ₹1550 per unit 
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question13">
                    <a class="accordion-link" href="#question13">
                        13.How can I buy blood?
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        It is mandatory to get the Blood requisition form which has to be stamped by blood bank of hospital or if blood bank is not available in the hospital, it should be stamped by the doctor treating the patient and the hospital along with the blood sample of the patient <br>
                        <br>

                        The person collecting the blood must possess the valid Govt ID card and proof of relationship with the patient.
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question14">
                    <a class="accordion-link" href="#question14">
                        14.If I have cold or the flue, Can I donate blood? 
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        No, blood centers require that you be in good health (symptom-free) and feeling well.
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question15">
                    <a class="accordion-link" href="#question15">
                        15.Can I still donate if I have high blood pressure?
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        Yes, if your blood pressure falls within the limits set by NBTC regulations. 
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question16">
                    <a class="accordion-link" href="#question16">
                        16.Where can I find the all eligibilities criteria?
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        Click here to view the all eligibilities. 
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question17">
                    <a class="accordion-link" href="#question17">
                        17.Can I donate blood if I have tattoo?
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        You should not donate blood if you have recently received a tattoo or body piercing for at least six months. 
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question18">
                    <a class="accordion-link" href="#question18">
                        18.Can I donate blood if I have period? 
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        Yes.Menstruating doesn't affect your ability to donate. 
                    </p>
                    </div>
                </div>

                <div class="accordion-item" id="question19">
                    <a class="accordion-link" href="#question19">
                        19.What to eat after donation? 
                        <ion-icon name="radio-button-on-sharp"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                        After donating blood, you may want to prioritize foods rich in iron, vitamin C and B vitamins to support your body's regeneration of red blood cells. Replenishing your body's fluid levels after donating blood is equally important
                    </p>
                    </div>
                </div>

               
                </div>
            </div>
        </div>
    </section>
    <script src="/views/scripts/FAQ.js"></script>
<%- include('./layouts/footer.ejs') %>
</body>

</html>