<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy</title>
  <link rel="stylesheet" href="../styles/privacystyle.css">
</head>
<body>
    <div>
    <h1>User Feedback</h1>
    <form action="support-team/submit-feedback" method="POST">
        <label for="user">User:</label>
        <input type="text" id="user" name="user" required><br>
        <label for="trouble">Trouble:</label>
        <textarea id="trouble" name="trouble" required></textarea><br>
        <button type="submit">Submit</button>
    </form></div>
</body>
</html>