<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule your appointment</title>
    <link rel="stylesheet" href="../styles/bloodbank.css">
    <link rel="stylesheet" href="../styles/Donor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="heading"></div>
    <div class="nav">
        <div class="itemsr" id="item0">
            <a href="/">
                <img src="/images/logo.png" alt="Clickable Image" width="100%">
            </a>
        </div>
        <div class="items" id="item1">
            <p><h3>&nbspDonate Blood</h3></p>
            <div class="hover-text" id="text1">
                <a href="/donor/DonorProfile">Manage my Profile</a>
                <br>
                <br>
                <a href="/donor/Appointment">Schedule my Appointment</a>
                <br>
                <br>
                <a href="/donor/DonorHistory">View my Donation History</a>
                <br>
                <br>
            </div>
        </div>
        <div class="items" id="item2">
            <p><h3>Donor Registration</h3></p>
            <div class="hover-text" id="text2">
                <a href="/donor/DonorRegistration">Donor Registration</a>
                <br>
                <br>
                <a href="/donor/DonorLogin">Donor Login</a>
                <br>
                <br>
            </div>
        </div>
        <div class="items" id="item3">
            <p><h3>How to Donate Blood</h3></p>
            <div class="hover-text" id="text3">
                <a href="/eligibility.html#one">Eligibility Requirements</a>
                <br>
                <br>
                <a href="/eligibility.html#two">Learn About Blood</a>
                <br>
                <br>
                <a href="/eligibility.html#three">How Blood Donations Help</a>
            </div>
        </div>
        <div class="items" id="item4">
            <p><h3>Employee</h3></p>
            <div class="hover-text" id="text4">
                <a href="/employee/login">Employee Login</a>
                <br>
                <br>
                <a href="/admin/login">Admin Login</a>
                <br>
                <br>
            </div>
        </div>
        <div class="items" id="item5"><a href="/faq"><h3>FAQ'S</h3></a></div>
    </div>
   
    
    
    <div class="contain">
        <form class="form" id="appoint" action="">
            <label for="">select date for appointment </label><br>
            <input type="date"><br><br>
            <label for="">select time of the day</label><br>
            <select name="time" >
                <option value="none" selected disabled hidden>select time</option>
                <option value="morning">9:00 am - 11:00 am</option>
                <option value="noon">12:30 pm - 1:30 pm</option>
                <option value="after noon">3:30 pm - 5:30 pm</option>
                <option value="evening">7:30 pm - 9:30 pm</option>
            </select><br><br>
            <label for="add">Address</label>
            <textarea style="margin: 10px; border-radius: 0.5rem;" id="add" cols="50" rows="10"></textarea>
            <div><input type="checkbox" required></div>
            <label for="chck">I hereby accept the <a href="">terms and conditions</a> of registering as blood donor</label>
            <br>
            <input type="submit" id="sub" value="Submit"><br><br>
        </form>
    </div>
    
    <footer>
        <div class="container">
          <div class="section">
              <h2>OUR LINKS</h2>
              <ul>
                  <li><a href="home.html">Home</a></li>
                  <li><a href="#">RakthaDhaara</a></li>
                  <li><a href="privacypolicy.html">Privacy Policy</a></li>
                  <li><a href="#">Linking Policy</a></li>
                  <li><a href="disclaimer.html">Disclaimer</a></li>
              </ul>
          </div>
          <div class="section">
              <h2>USEFUL LINKS</h2>
              <ul>
                  <li><a href="#">How Blood Donation is Useful?</a></li>
                  <li><a href="#">Why Blood Donation</a></li>
              </ul>
          </div>
          <div class="section">
              <h2>About Our Website</h2>
              <p>Blood donation and transfusion service is an indispensable part of contemporary medicine and health care. Blood management has been recognized as a challenging task because of the life-threatening nature of blood products.</p>
          </div>
          <div class="section" id="icons">
              <div class="icons-container">
                  <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
                  <a href="www.linkedin.com"><i class="fab fa-linkedin"></i></a>
                  <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
                  <a href="www.facebook.com"><i class="fab fa-facebook"></i></a>
              </div>
              <img src="../images/logo.png" alt="Description of the image">
          </div>
      </div>
      <div class="scrolling-headlines">
          <div class="headline">Disclamier :Please be informed that any changes you make and data you enter on this platform are stored securely in our database</div>
        </div>
      <a href="faq.html">FAQ</a>
      <a href="contactus.html">Contact Us</a>
      <a href="terms.html">Terms and Conditions</a>
      <a href="privacypolicy.html">Privacy Policy</a>
      <a href="disclaimer.html">Disclaimer</a>
      <a href="aboutus.html">&copy; 2024 | Blood Bank</a>
  </footer>
    
    
</body>
</html>