<% include('../layouts/header.ejs') %>

<h1>Medicalprofessional Forget Password</h1>

<form action="/medicalprofessional/forget-password" method="post">
    <input type="password" name="password" placeholder="Enter Password">
    <input type="hidden" name="medicalProfessional_id" value="<%=medicalProfessional_id%>">
    <br>
    <br>
    <input type="submit" value="reset password">
</form>

<% include('../layouts/footer.ejs') %>
