<% include('../layouts/header.ejs') %>

<h1>Employee Forget Password</h1>

<form action="/support-team/forget-password" method="post">
    <input type="password" name="password" placeholder="Enter Password">
    <input type="hidden" name="supportTeam_id" value="<%=supportTeam_id%>">
    <br>
    <br>
    <input type="submit" value="reset password">
</form>

<% include('../layouts/footer.ejs') %>
